* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ----- Sketch Boxes ----- */

#container {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    margin: 50px auto;
}

#container, .inner-box {
    border: 1px solid black;
}

.inner-box {
    flex: 0 0 6.25%;
}